body{
	font-family: $ubuntu;
}

.wrap{
	max-width: $max-width;
	width: 100%;
	margin: 0 auto;
}

.lista{
	display: inline-block;
}

#container{
	background: url('../images/bg-topo.jpg') no-repeat center;
	background-size: 100%;
	background-position: 0 0;
}

#header{
	
	// height: 800px;

	#inner-header{
		padding: 70px 0 135px;
		#logo{
			float: left;
		}

		nav{
			float: right;
			ul li{
				float: left;
				a{
					text-decoration: none;
					color: $white;
					padding: 10px;
					font-weight: bold;
					&:hover{
						background: $white;
						color: $black;
					}
				}
			}
		}

		.responsive-menu{
			display: none;
			float: right;
		    color: white;
		    text-decoration: none;
		    font-weight: bold;
		}
	}




}


#home{
	margin-bottom: 255px;
	div {
		width: 704px;

		h1{
			font-size: 95px;
			font-weight: bold;
			color:$white;
			margin-bottom: 40px;
		}

		p{
			font-size: 21px;
			color:$white;
			line-height: 30px;
			margin-bottom: 45px;
		}

		a{
			padding: 20px 60px;
			border-radius: 35px;
			display: inline-block;
			background: $white;
			font-size: 23px;
			font-weight: bold;
			color: $black;
			text-decoration: none;

			&:hover{
				background: $black;
				color: $white;
			}
		}
	}
}

#o-que-e{
	text-align: center;
	color: white;
	background: url("../images/bg-o-que-e.png") repeat-x top center;
	height: 610px;
	background-position-y: -120px;

	h1{
		font-size: 84px;
		margin-bottom: 65px;
	}

	p{
		font-size: 23px;
		line-height: 40px;
		font-weight: 300;
		padding: 0 100px;
	}
}

#cidades{

	text-align: center;
	.wrap{

		display: inline-block;

		& > h1{
			font-size: 84px;
			margin-bottom: 95px;
			font-weight: bold;
		}

		.cidade {
			float: left;
			position: relative;
			width: 50%;
			max-width: 465px;
			margin: 0 10px 90px 0;

			&:nth-child(2n + 1){
				float: right;
				margin-right: 0;
			}
			div{
				position: absolute;
				top: 0;
				left: 0;
				color: $white;
				width: 100%;
				padding-top: 195px;
				text-transform: uppercase; 

				h1{
					font-size: 40px;
					font-weight: bold;
					margin-bottom: 25px;
				}

				h2{
					font-size: 18px;
					margin-bottom: 20px;
				}

				span{
					font-size: 14px;
					clear: both;
					display: block;
					margin-bottom: 35px;
				}

				a{
					background: $white;
					color: $black;
					font-size: 19px;
					text-decoration: none;
					padding: 15px 60px;
					border-radius: 50px;
					text-transform: none;
					display: inline-block;

					&:hover{
						background: $black;
						color: $white;
					}

				}
			}


		}
	}
}


#palestrantes{

	background: url("../images/bg-palestrantes.png") no-repeat bottom center;
	background-size: cover;
	padding-bottom: 90px;

	h1{
		font-size: 84px;
		text-align: center;
		font-weight: bold;
		margin-bottom: 85px;
	}
	
	.palestrante {
		float: left;
		width: 50%;
		max-width: 465px;
		padding: 0 100px 60px 0;
		text-transform: uppercase;

		&:nth-child(2n + 2){
			float: right;
			padding-right: 0;
		}


		figure {
			overflow: hidden;
			border-radius: 50%;
			display: inline-block;
			width: 160px;
			height: 160px;
			float: left;
			margin-right: 30px;
			box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
		}

		h1{
			font-size: 19px;
			margin-bottom: 20px;
			margin-top: 55px;
		}

		span{
			font-size: 14px;
		}
	}

}


#o-que-esperar{

	color: $white; 
	background: url("../images/bg-o-que-esperar.jpg") no-repeat center;
	
	background-size: cover;
	display: inline-block;
	width: 100%;

	.wrap{
		& > h1{
			font-size: 84px;
			margin-bottom: 65px;
			margin-top: 125px;
			font-weight: bold;
			text-align: center;
		}

		.item-detalhe{
			width: 33.3333%;
			float: left;
			text-align: center;

			&:last-child{
				padding: 0;
			}

			figure{
				margin-bottom: 30px;
			}


			h1{
				font-size: 24px;
				text-transform: uppercase;
				margin-bottom: 30px;
			}

			p{
				font-size: 16px;
				line-height: 25px;
				padding: 0 20px;
				margin-bottom: 110px;
			}
		}
		
	}

}


#patrocinadores{
	background: #efefef;
	display: inline-block;
	width:100%;
	text-align: center;
	padding-bottom: 90px;

	h1{
		font-size: 31px;
		margin: 100px 0 90px;
		text-transform: uppercase;
	}

	.patrocinador{
		display: inline-block;
		width: 100%;

		div{
			float: left;
			width: 25%;
		}
	}
}


#faq{
	display: inline-block;
	width: 100%;
	text-align: center;
	background: url("../images/bg-faq.jpg") no-repeat center;
	background-size: cover;



	h1{
		font-size: 84px;
		margin: 120px 0 90px;
		color: $white;
	}

	a.botao-duvidas{
		background: $white;
		color: $black;
		font-size: 33px;
		text-decoration: none;
		padding: 15px 60px;
		border-radius: 50px;
		text-transform: none;
		display: inline-block;
		margin-bottom: 150px;
		
		&:hover{
			background: $black;
			color: $white;
		}
	}
	
	.icones-sociais{
		width: 373px;
		margin: 0 auto 150px;
		a{
			width: 25%;
		    display: block;
		    float: left;
		}
	}
	.icon{
		background: url("../images/icones-redes-sociais.png") no-repeat top left;
		display: inline-block;
		height: 30px;
		width: 30px;


		&.facebook{
			background-position: 0 0;
			width: 15px;
		}
		&.linkedn{
			background-position: -25px 0;
		}
		&.youtube{
			background-position: -60px 0;
			width: 20px;
		}
		&.instagram{
			background-position: -86px 0;
		}
	}


}