/*********************
IMPORTING PARTIALS
*********************/

// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// Sass functions
@import "partials/functions";

// import mixins
@import "partials/mixins";

/*********************
IMPORTING MODULES

*********************/

// alert boxes
@import "modules/alerts";

// buttons
@import "modules/buttons";

// forms (inputs & labels)
@import "modules/forms";

/*********************
BASE
*********************/

// styles in base.scss
@import "breakpoints/base";


/*********************
LARGE VIEWING SIZE
*********************/
@media only screen and (max-width: 1240px) {

    // styles in 1240up.scss
    @import "breakpoints/1240px";

} // end of media query

/*********************
DESKTOP
*********************/
@media only screen and (max-width: 1030px) {

    // styles in 1030up.scss
    @import "breakpoints/1030px";

} // end of media query

/*********************
TABLET & SMALLER LAPTOPS
*********************/
@media only screen and (max-width: 768px) {

    // styles in 768up.scss
    @import "breakpoints/768px";

} // end of media query

/*********************
LARGER MOBILE DEVICES
*********************/
@media only screen and (max-width: 481px) {

    // styles in 481up.scss
    @import "breakpoints/481px";

} // end of media query


/*********************
PRINT
*********************/
@media print {

    // styles in print.scss
    @import "partials/print";

}
