/*********************
IMPORTING PARTIALS
*********************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500italic,500,700,700italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Ubuntu-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/'Ubuntu'.ttf') format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Ubuntu-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src:url('../fonts/Ubuntu-Bold.ttf') format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/Ubuntu-LightItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Ubuntu-Italic.ttf') format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src:  url('../fonts/Ubuntu-MediumItalic.ttf') format('ttf');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Ubuntu-BoldItalic.ttf') format('ttf');
}
*/
/*********************
IMPORTING MODULES

*********************/
/*********************
BASE
*********************/
body {
  font-family: "Ubuntu", sans-serif; }

.wrap {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto; }

.lista {
  display: inline-block; }

#container {
  background: url("../images/bg-topo.jpg") no-repeat center;
  background-size: 100%;
  background-position: 0 0; }

#header #inner-header {
  padding: 70px 0 135px; }
  #header #inner-header #logo {
    float: left; }
  #header #inner-header nav {
    float: right; }
    #header #inner-header nav ul li {
      float: left; }
      #header #inner-header nav ul li a {
        text-decoration: none;
        color: white;
        padding: 10px;
        font-weight: bold; }
        #header #inner-header nav ul li a:hover {
          background: white;
          color: black; }
  #header #inner-header .responsive-menu {
    display: none;
    float: right;
    color: white;
    text-decoration: none;
    font-weight: bold; }

#home {
  margin-bottom: 255px; }
  #home div {
    width: 704px; }
    #home div h1 {
      font-size: 95px;
      font-weight: bold;
      color: white;
      margin-bottom: 40px; }
    #home div p {
      font-size: 21px;
      color: white;
      line-height: 30px;
      margin-bottom: 45px; }
    #home div a {
      padding: 20px 60px;
      border-radius: 35px;
      display: inline-block;
      background: white;
      font-size: 23px;
      font-weight: bold;
      color: black;
      text-decoration: none; }
      #home div a:hover {
        background: black;
        color: white; }

#o-que-e {
  text-align: center;
  color: white;
  background: url("../images/bg-o-que-e.png") repeat-x top center;
  height: 610px;
  background-position-y: -120px; }
  #o-que-e h1 {
    font-size: 84px;
    margin-bottom: 65px; }
  #o-que-e p {
    font-size: 23px;
    line-height: 40px;
    font-weight: 300;
    padding: 0 100px; }

#cidades {
  text-align: center; }
  #cidades .wrap {
    display: inline-block; }
    #cidades .wrap > h1 {
      font-size: 84px;
      margin-bottom: 95px;
      font-weight: bold; }
    #cidades .wrap .cidade {
      float: left;
      position: relative;
      width: 50%;
      max-width: 465px;
      margin: 0 10px 90px 0; }
      #cidades .wrap .cidade:nth-child(2n + 1) {
        float: right;
        margin-right: 0; }
      #cidades .wrap .cidade div {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        width: 100%;
        padding-top: 195px;
        text-transform: uppercase; }
        #cidades .wrap .cidade div h1 {
          font-size: 40px;
          font-weight: bold;
          margin-bottom: 25px; }
        #cidades .wrap .cidade div h2 {
          font-size: 18px;
          margin-bottom: 20px; }
        #cidades .wrap .cidade div span {
          font-size: 14px;
          clear: both;
          display: block;
          margin-bottom: 35px; }
        #cidades .wrap .cidade div a {
          background: white;
          color: black;
          font-size: 19px;
          text-decoration: none;
          padding: 15px 60px;
          border-radius: 50px;
          text-transform: none;
          display: inline-block; }
          #cidades .wrap .cidade div a:hover {
            background: black;
            color: white; }

#palestrantes {
  background: url("../images/bg-palestrantes.png") no-repeat bottom center;
  background-size: cover;
  padding-bottom: 90px; }
  #palestrantes h1 {
    font-size: 84px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 85px; }
  #palestrantes .palestrante {
    float: left;
    width: 50%;
    max-width: 465px;
    padding: 0 100px 60px 0;
    text-transform: uppercase; }
    #palestrantes .palestrante:nth-child(2n + 2) {
      float: right;
      padding-right: 0; }
    #palestrantes .palestrante figure {
      overflow: hidden;
      border-radius: 50%;
      display: inline-block;
      width: 160px;
      height: 160px;
      float: left;
      margin-right: 30px;
      box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75); }
    #palestrantes .palestrante h1 {
      font-size: 19px;
      margin-bottom: 20px;
      margin-top: 55px; }
    #palestrantes .palestrante span {
      font-size: 14px; }

#o-que-esperar {
  color: white;
  background: url("../images/bg-o-que-esperar.jpg") no-repeat center;
  background-size: cover;
  display: inline-block;
  width: 100%; }
  #o-que-esperar .wrap > h1 {
    font-size: 84px;
    margin-bottom: 65px;
    margin-top: 125px;
    font-weight: bold;
    text-align: center; }
  #o-que-esperar .wrap .item-detalhe {
    width: 33.3333%;
    float: left;
    text-align: center; }
    #o-que-esperar .wrap .item-detalhe:last-child {
      padding: 0; }
    #o-que-esperar .wrap .item-detalhe figure {
      margin-bottom: 30px; }
    #o-que-esperar .wrap .item-detalhe h1 {
      font-size: 24px;
      text-transform: uppercase;
      margin-bottom: 30px; }
    #o-que-esperar .wrap .item-detalhe p {
      font-size: 16px;
      line-height: 25px;
      padding: 0 20px;
      margin-bottom: 110px; }

#patrocinadores {
  background: #efefef;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 90px; }
  #patrocinadores h1 {
    font-size: 31px;
    margin: 100px 0 90px;
    text-transform: uppercase; }
  #patrocinadores .patrocinador {
    display: inline-block;
    width: 100%; }
    #patrocinadores .patrocinador div {
      float: left;
      width: 25%; }

#faq {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: url("../images/bg-faq.jpg") no-repeat center;
  background-size: cover; }
  #faq h1 {
    font-size: 84px;
    margin: 120px 0 90px;
    color: white; }
  #faq a.botao-duvidas {
    background: white;
    color: black;
    font-size: 33px;
    text-decoration: none;
    padding: 15px 60px;
    border-radius: 50px;
    text-transform: none;
    display: inline-block;
    margin-bottom: 150px; }
    #faq a.botao-duvidas:hover {
      background: black;
      color: white; }
  #faq .icones-sociais {
    width: 373px;
    margin: 0 auto 150px; }
    #faq .icones-sociais a {
      width: 25%;
      display: block;
      float: left; }
  #faq .icon {
    background: url("../images/icones-redes-sociais.png") no-repeat top left;
    display: inline-block;
    height: 30px;
    width: 30px; }
    #faq .icon.facebook {
      background-position: 0 0;
      width: 15px; }
    #faq .icon.linkedn {
      background-position: -25px 0; }
    #faq .icon.youtube {
      background-position: -60px 0;
      width: 20px; }
    #faq .icon.instagram {
      background-position: -86px 0; }

/*********************
LARGE VIEWING SIZE
*********************/
/*********************
DESKTOP
*********************/
/*********************
TABLET & SMALLER LAPTOPS
*********************/
/*********************
LARGER MOBILE DEVICES
*********************/
/*********************
PRINT
*********************/
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }

/*# sourceMappingURL=style.css.map */
